################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COIL_18/COIL_Milestone1/.vs/COIL_Milestone1/FileContentIndex/1c99423b-5b6d-4d13-8754-b9050a1d77f1.vsidx
